@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["Autor"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["email"]</p>

<address>
    <strong>More information: </strong> <a href="https://dev.mysql.com/downloads/file/?id=490395">Informações</a>
</address>
